<footer class="footer">
<p>
{{design.footer.text}} | Built with <a href="https://www.11ty.dev">{{ eleventy.generator }}</a> 
| Maintained by <a href="https://adamdjbrett.com">Adam Dj Brett</a>
</p>
</footer>